.date_picker_bg_black {
  background-color: #000000;
}
.border_radius_13 {
  border-radius: 13px;
}
.date_picker_wrapper {
  padding: 1.6rem 1.9rem 1.6rem 2.3rem;
}

.date_picker {
  background: rgba(0, 0, 0, 0.04);
  border-radius: 1.6rem;
}
.date_picker_search_name {
  font-size: 1.4rem;
  font-weight: 400;
}
.date_picker_search {
  display: flex;
  justify-content: space-between;
  padding: 1.1rem 1.6rem 1.3rem 2.8rem;
  margin-bottom: 0.4rem;
}
.date_picker_search_icon_name {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.date_picker_checkin_checkout_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
