.container {
  max-width: 41.4rem;
}
/* font */
.font_15 {
  font-size: 1.5rem;
}
.font_8 {
  font-size: 0.8rem;
}
.font_bolder {
  font-weight: 700;
}

/* flexbox */
.flex_g_2,
.flex_g_1,
.flex {
  display: flex;
}
.flex_space_between {
  justify-content: space-between;
}
.flex_align_center {
  align-items: center;
}
.flex_dir_col {
  flex-direction: column;
}
.flex_g_1 {
  gap: 1rem;
}
.flex_g_2 {
  gap: 2rem;
}

/* background */
.bg_gray {
  background-color: #e7e7e7;
}
.bg_dark {
  background-color: #000;
}

/* border */
.bor_10 {
  border-radius: 10px;
}

/* font_size */
.font_24 {
  font-size: 2.4rem;
}
.font_13 {
  font-size: 1.3rem;
}

/* font_bold */
.b_400 {
  font-weight: 400;
}
/* font */
.font_dark {
  color: #000000bf;
}
.font_white {
  color: #fff;
}
.font_gray {
  color: #67686d;
}

/* margin */
.mg_b_1 {
  margin-bottom: 1rem;
}
.mg_b_2 {
  margin-bottom: 2rem;
}
.mg_l_2 {
  margin-left: 2rem;
}

/* padding */
.padding_1 {
  padding: 1rem;
}
.padding_2 {
  padding: 2rem;
}
.app {
  margin-left: 4rem;
}
